
  .col-lg-6 {
    padding: 5% 8% 7%;
  }

  .calender img {
    width: 60%;
  }
  
  .calender {
    text-align: center;
    background-color: rgb(238, 212, 228);
  }
  
  .calender__text {
    padding: 0 16%;
  }